<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <span data-i18n="current_language">English</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        <li><a class="dropdown-item" href="#" onclick="setLanguage('en')" data-i18n="language_english">En</a></li>
        <li><a class="dropdown-item" href="#" onclick="setLanguage('ar')" data-i18n="language_arabic">Ar</a></li>
    </ul>
</div>